# Xcode
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
